@import "tailwindcss";

@theme {
  --color-background: #090f14;
  --color-background-secondary: #111a28;
  --color-border: #425666;
  --color-fill: #29313e;
  --color-fill-dark: #272c31;
  --color-fill-hover: #3a4045;
  --color-text: #eeeeee;
  --color-accent: #18636c;
  --color-accent-hover: #22828dff;
  --color-accent-active: #2bb9b2ff;

  --color-overwatch-ally: #25d4fc;
  --color-overwatch-enemy: #ef2f52;

  --color-confirm: #4caf50;
  --color-confirm-hover: #45a049;

  --color-cancel: #f44336;
  --color-cancel-hover: #da190b;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

:root {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.6px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.TooltipContent[data-state="delayed-open"],
.TooltipContent[data-state="instant-open"] {
  animation: fadeIn 0.2s ease-out;
}

.TooltipContent[data-state="closed"] {
  animation: fadeOut 0.2s ease-out;
}

.DialogOverlay[data-state="open"],
.DialogContent[data-state="open"] {
  animation: fadeIn 0.15s ease-out;
}

.DialogOverlay[data-state="closed"],
.DialogContent[data-state="closed"] {
  animation: fadeOut 0.15s ease-out;
}

.AlertOverlay[data-state="open"],
.AlertContent[data-state="open"] {
  animation: fadeIn 0.15s ease-out;
}

.AlertOverlay[data-state="closed"],
.AlertContent[data-state="closed"] {
  animation: fadeOut 0.15s ease-out;
}
